/DistEdit/DistEdit_Data

/DistEdit/DistEdit.exe

/DistEdit/*.csproj
/DistEdit/*.sln
/DistEdit/*.DotSettings
/DistEdit/*.csproj

/DistEdit/Library/ScriptAssemblies
/DistEdit/Library/metadata
/DistEdit/obj
/DistEdit/*.suo
/DistEdit/UnityVS.DistEdit.UnityScript.Plugins.unityproj
